.round {
  height: 300px;
  width: 300px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  opacity: 0.7;
  transition: 1s;
  filter: grayscale(100%);
  cursor: pointer;
}
.round:hover {
  filter: grayscale(0%);
  opacity: 1;
  transition: 1s ease;
}
.test_element {
  font-size: 30px;
  line-height: 1.2;
  margin: 20px;
}
.test_element::before {
  content: "Before ";
}
.test_element::after {
  content: " After";
}
